.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}\n
.navBrand {
    font-weight: bold;
    color: var(--purple-main);
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
}

.navBrand:hover {
    color: #5233d1;
}

.navLinks {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.navLinks li {
    position: relative;
}

.navLinks a {
    text-decoration: none;
    color: var(--text-dark);
    transition: color 0.3s;
    padding-bottom: 5px;
    display: block;
}

.navLinks a:hover {
    color: var(--purple-main);
}

.navLinks a.active {
    color: var(--purple-main);
    border-bottom: 2px solid var(--purple-main);
    font-weight: 500;
}

.navLang {
    cursor: pointer;
    color: var(--text-light);
    transition: color 0.3s;
}

.navLang:hover {
    color: var(--purple-main);
}
